<h4 class="fancy">Ready to eat!</h4>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger-block devoured=false}}
      <div
        <form action="/burger/eat/{{id}}" method="PUT">
          <div>{{burger}}
          </div>
        </form>
      </div>
    {{/unless}}
  {{/each}}
</ul>

<h4 class="fancy">Already devoured!</h4>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2 class="fancy">Create a New Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="newBurger">Burger:</label>
    <input type="text" id="newBurger" name="burger">
  </div>

  <button type="submit">Order up!</button>
</form>
